<h1 class="well">Sections</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><% @sections.each do |section| %></th>
      <th class="list"><%= link_to section.name, section_path(section) %></th>
      <% end %>
    </tr>
  </thead>
</table>
